.confirm-body {
    padding: 8px 20px;
}

.confirm-body p {
    padding-left: 4px;
}

.confirm-body table {
    width: 100%;
}

.confirm-control {
    padding: 20px;
}

.confirm-control button {
    padding: 16px 22px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
}

.mat-row {
    padding: 16px 0;
}
  
.mat-cell {
    padding: 8px 8px 8px 0;
}

